@model IEnumerable<Examination_System.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TheStudentsInformationAccordingToTrackId</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/d3bc0f0f7a.js" crossorigin="anonymous"></script>
    <style>
        .header {
            padding: 8px 8%;
            background-color: darkred;
        }

        .logo {
            width: 7%;
        }
    </style>
</head>
<body>
    <!-----------------------------------------------header--------------------------------------->
    <header class="header fs-6 d-flex justify-content-between align-items-center text-light">
        <section class="d-flex">
            <div> <a class="text-light text-decoration-none" href="https://iti.gov.eg/home"><i class="fa-regular fa-envelope"></i> ITI Website</a></div>
            <div> <i class="fa-solid fa-mobile-screen-button ms-3"></i> 17002</div>
        </section>
        <section class="d-flex">
            <a class="text-light" href="https://twitter.com/itichannel2"><i class="fa-brands fa-twitter ms-4"></i></a>
            <a class="text-light" href="https://www.facebook.com/itichannel/"><i class="fa-brands fa-facebook ms-4"></i></a>
            <a class="text-light" href="https://www.youtube.com/user/itichannel"><i class="fa-brands fa-youtube ms-4"></i></a>
            <a class="text-light" href="https://eg.linkedin.com/school/information-technology-institute-iti-/"><i class="fa-brands fa-linkedin ms-4"></i></a>
        </section>
    </header>
    <!-----------------------------------------------navbar--------------------------------------->

    <nav class="navbar bg-light sticky-top d-flex justify-content-around align-items-center">
        <img src="/Images/logo.png" class="logo" />
        <div class="d-flex ms-4 align-items-center fw-medium">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <div class="ps-2 ms-5"><a class="text-decoration-none bg-secondary bg-gradient btn text-light p-2" asp-controller="Login" asp-action="LogOut">Logout</a></div>
        </div>
    </nav>
    <!-----------------------------------table---------------------------------->
    <div class="container">
        <div class="text-center">
            <h3 class="justify-content-center mt-5">Students Information According to Track ID</h3>
            <table class="table table-bordered table-hover border-danger align-items-center justify-content-center mt-5 ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="5">No Student for this track</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.Id</td>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                <td>@student.Age</td>
                                <td>@student.Address</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
