@model List<Question>

@{
    var Duration = ViewBag.duration;
    var StdName=ViewBag.StudentName;
    var CrsName = ViewBag.CrsName;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateQuestions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
            margin-right:20%;
            margin-left: 20%;
        }

        .question-container {
            margin-bottom: 20px;
        }

        .options-container {
            padding-left: 20px;
        }

        .option-label {
            margin-bottom: 5px;
            display: block;
        }

        .ViewDetails{
            background-color:darkred;
            height:170px;
            text-align:center;
            color:floralwhite;
            margin-bottom:1cm;
            padding:20px;

        }

        .p-3 {
            border: 2px solid darkred;
        }

        .DarkredBtn{
            background-color:darkred;
        }
    </style>
</head>
<body>
    <div class="ViewDetails">
        <h3> Student Name : @StdName</h3>
        <h3>Course Name : @CrsName</h3>
        <h3>Exam Duration :@Duration</h3>
    </div>
    <form method="post" id="examForm" asp-controller="StudentAnswer" asp-action="AnswerHandling">
        @for (int i = 0; i < Model.Count; i++)
        {
            var question = Model[i];
            <div class="question-container">
                <p><strong>@(i + 1)_@question.Quest</strong> </p>

                @{
                    var answerChoices = new List<string>
            {
            question.Corr_Answer,
            question.OPt1_Answer,
            question.OPt2_Answer,
            question.OPt3_Answer
            };

                    var random = new Random();
                    answerChoices = answerChoices.OrderBy(x => random.Next()).ToList();
                }

                <input type="hidden" name="questionId" value="@question.Ques_ID" />
                <input type="hidden" name="STD_ID" value="@ViewBag.StdId" />
                <input type="hidden" name="CRS_ID" value="@ViewBag.CrsId" />
                <input type="hidden" name="ExamId" value="@question.Exam_ID" />
                @if (question.Type == "MCQ")
                {
                    <div class="options-container d-flex flex-column mb-3">
                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="@answerChoices[0]" /> @answerChoices[0]
                        </label>

                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="@answerChoices[1]" /> @answerChoices[1]
                        </label >
                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="@answerChoices[2]" /> @answerChoices[2]
                        </label>
                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="@answerChoices[3]" /> @answerChoices[3]
                        </label>
                    </div>
                }
                else if (question.Type == "TF")
                {
                    <div class="options-container  d-flex flex-column mb-3" >
                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="True" /> True
                        </label>
                        <label class="p-3 bg-opacity-10  ">
                            <input type="radio" name="Answer.@question.Ques_ID" value="False" /> False
                        </label>
                    </div>
                }

            </div>

        }
        <input class="btn btn-danger DarkredBtn text-light" type="submit" value="Submit Answers" />
    </form>

    <!-- JavaScript for timer and redirection -->
    <script>
        setTimeout(function () {
            document.getElementById("examForm").submit(); // Submit the form after 5 minutes
        }, @Duration * 60 * 60 * 1000);

        // Redirect to home controller after submitting the form
        document.getElementById("examForm").addEventListener("submit", function () {
            window.location.href = "/Home/Index"; // Change "/Home/Index" to the desired URL
        });
    </script>
</body>
</html>
